<?xml version="1.0" encoding="utf-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.reactiva.pruebaarchivos"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>Civico</name>

    <description>
        Aplicacion desarrollada para probar el manejo de archivos. 
    </description>

    <author href="http://www.reactiva.com.co" email="aurelioguerrero@reactiva.com.co">
        Aurelio Guerrero Rueda. 
    </author>
	
	<icon src="icon.png" />
	
	<feature name="http://api.phonegap.com/1.0/camera"/>
	<feature name="http://api.phonegap.com/1.0/file"/>
</widget>